DB_URL="{ complete database connection string }"

TEST_DB_USERNAME="{ database username }"
TEST_DB_PASSWORD="{ database password }"
TEST_DB_NAME="{ database name }"
TEST_DB_HOST="{ (optional default=localhost) database host }"

JWT_SECRET="{ (optional) secret key for signing a new jwt }"
SALT="{ (optional) salt for encrypting password }"

NODE_ENV="test"